h1 {
  color: blue;
}

body {
  height: 100%;
  display: flex;
  font-family: "Helvetica Neue";
}

.chat-box-wrapper {
  border-radius: 25px;
  height: 500px;
  width: 350px;
  position: fixed;
  box-shadow: 0 0 10px 1px #dedede;
  right: 15px;
  bottom: 15px;
  z-index: 100;
}

.chat-box-wrapper .header {
  height: 50px;
  display: flex;
  border-bottom: 1px solid #dedede;
}
.profile-image {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.user-name {
  width: 220px;
  display: flex;
  align-items: center;
}
.buttons {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.chat-avatar {
  border-radius: 50%;
}
.status {
  height: 10px;
  width: 10px;
  background-color: #15ff00;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  bottom: 5px;
}

.chat-box-wrapper .chat-body {
  height: 360px;
  display: block;
  align-items: center;
  font-size: 14px;
  border-bottom: 1px solid #dedede;
  overflow-y: auto;
}

.chat-box-wrapper .text-area {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  color: #dedede;
  border-bottom: 1px solid #dedede;
}
.chat-box-wrapper .footer {
  height: 30px;
  display: flex;
  color: #dedede;
  font-size: 15px;
  padding: 0 15px 0 0;
  align-items: center;
  justify-content: flex-end;
}

.text-input {
  width: 310px;
  height: 25px;
  border: none;
}
.text-input:focus {
  outline: none;
}
.text-input::placeholder {
  opacity: 0.5;
}

.message-1 {
  width: 330px;
  height: 50px;
  color: #fff;
  display: flex;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  background-color: #00368c;
  border-radius: 10px;
}
.message-2 {
  width: 310px;
  height: auto;
  color: #000;
  display: block;
  margin: 10px auto;
  padding: 1px 10px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  line-height: 25px;
  box-shadow: 0 0 10px 1px #dedede;
}

#show-1 {
  display: none;
}
#more-1 {
  display: inline;
  color: #00a6ff;
  cursor: pointer;
}
#more-2 {
  display: inline;
  color: #00a6ff;
  cursor: pointer;
}
#less-1 {
  display: none;
  color: #00a6ff;
  cursor: pointer;
}
h3 {
  margin: 10px 0px;
  padding: 0px;
}
